nav{
    float:right;
}
#appsIcon {
    height: 30px;
    width: 30px;
}


#bell {
    height: 30px;
    width: 30px;
    
}


#catIcon {
    
}


#centergoogle{
    display: block;
    margin: auto;
    width: 40%;
}

#centerform{
    text-align: center;
        
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li {
    display: inline;
}


.rightfloat{
    float: right
}


.footer {
    
}