nav{
    float:right;
    
}

.toplink{
    color: black;
    opacity: .75;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    
}


.toplink:hover{
    text-decoration: underline;
}


.cushion{
    margin-left: 8px;
    margin-right: 8px;
}

#centergoogle{
    display: block;
    margin: auto;
    padding-top: 50px;
    width: 274px;
    height: 92px
}

#centerform{
    text-align: center;
        
}


#search{
    padding: 13px 13px;
    width: 585px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
    background-color:#FFF;
    vertical-align: top;
    height: 44px;
}


input[type=submit]{
    background-color: #FFFFFF;
    border: solid white .25px;
    color: #757575;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    box-sizing: border-box;
}

input[type=submit]:hover{
    border: solid #b5b5b5 .25px;;
    border-radius: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li {
    display: inline;
}


li a{
    font-family: arial, sans-serif;
    font-size: 17.8px;
    color: rgb(102,102,102);
    text-decoration: none;
    padding-left: 27px
    }

footer{
    background: #FFFFFF;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

footer ul span li a:hover{
    text-decoration: underline;}
    
}